{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}
    <h1>Bienvenue sur mon blog</h1>

    <a href="{{ path('blog_article', { 'slug': "javascript-vs-php" }) }}">
        Testing show() method from BlogController with a real article s slug.
    </a>
    <br>
    <a href="{{ path('blog_index') }}">
        All articles
    </a>

{% endblock %}